langchain
langchain-community
langchain-text-splitters
sentence-transformers
faiss-cpu
rank-bm25
transformers==4.46.3   # EXAONE 3.5 호환 버전으로 고정
accelerate
torch
datasets
requests
beautifulsoup4
cinemagoer
streamlit
